<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The Beatles Game</title>

  <meta name="description" content="A Game about The Beatles.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://blooming-wildwood-80243.herokuapp.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="The Beatles Game">
  <meta property="og:description" content="A Game about The Beatles.">
  <meta name="image" property="og:image" content="images/The Beatles Game.jpg">
  <meta name="author" content="Odin Schwartz">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="blooming-wildwood-80243.herokuapp.com">
  <meta property="twitter:url" content="https://blooming-wildwood-80243.herokuapp.com/">
  <meta name="twitter:title" content="The Beatles Game">
  <meta name="twitter:description" content="A Game about The Beatles.">
  <meta name="twitter:image" content="images/The Beatles Game.jpg">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="css/beatles-game-styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@900&display=swap" rel="stylesheet">


<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
<link rel="manifest" href="icons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
</head>

<body>


  <h1 id="level-title">Press or click anywhere to listen</h1>
  <div class="container">
    <div>

      <div type="button" id="george" class="btn george">

      </div>

      <div type="button" id="john" class="btn john">

      </div>
    </div>

    <div>

      <div type="button" id="paul" class="btn paul">

      </div>
      <div type="button" id="ringo" class="btn ringo">

      </div>

    </div>

  </div>

  <div class="">
    <h3 id="score">Score: 0</h3>
  </div>

  <div class="">
    <h4 id="time"></h4>
  </div>

<div class="">
  <h3 id="songs"></h3>
</div>

<script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script  type="text/javascript" src="/beatles-game.js" charset="utf-8"></script>

</body>

</html>
